<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1>Edición del Vendedor</h1>

		<div class="card">
			<div class="card-header">Edición vendedor</div>
			<div class="card-body">

				<form th:action="@{/vendedor/save}" th:object="${vendedor}" 
					method="post">
					
					<div class="form-group">
						<label for="id">Id:</label> 
						<input type="text" class="form-control" 
							placeholder="Id"
							th:field="*{id}">
					</div>
					
					<div class="form-group">
						<label for="nombre">Nombre:</label> 
						<input type="text" class="form-control" 
							placeholder="Nombre de Vendedor"
							th:field="*{nombre}">
					</div>
					
					<div class="form-group">
						<label for="direccion">Dirección:</label> 
						<input type="text" class="form-control"
							placeholder="Dirección del Vendedor"
							th:field ="*{direccion}">
					</div>
					
					<div class="form-group">
						<label for="telefono">Telefono:</label> 
						<input type="text" class="form-control" 
							placeholder="Teléfono del Vendedor"
							th:field="*{telefono}">
					</div>
					
					<div class="form-group">
						<label for="observacion">Observacion:</label> 
						<input type="text" class="form-control" 
							placeholder="Observacion del Vendedor"
							th:field="*{observacion}">
					</div>
					
					<div class="form-group">
						<label for="sueldo">Sueldo:</label> 
						<input type="text" class="form-control" 
							placeholder="Sueldo del Vendedor"
							th:field="*{sueldo}">
					</div>
					
					<!-- <div class="form-group">
						<label for="alquileres">Alquiler:</label> 
						<select th:field="*{alquileres}" class="form-control">
					      <option th:each="alquiler : ${alquileres}"
					      	th:value="${alquiler.id}" th:text="${alquiler.nombre}"></option>
					    </select>
						
					</div> -->
					
					
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i> Grabar
					</button>
					<a th:href="@{/vendedor}" class="btn btn-danger"> 
						<i class="fas fa-undo"></i> Cancelar 
					</a>
				</form>

			</div>
		</div>


	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>