<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
</head>

<style>
body {
	background-color: 	#B0C4DE
}
.container{
	background-color: "#B0C4DE"
}
.container{
	float: center
}
</style>

<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container" align="left">
		<h1 align="center">Lista de Medicos</h1>

		<div class="card text-center">
			<div class="card-header"></div>
			<div class="card-body">

				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nombre</th>
							<th scope="col">Direccion</th>
							<th scope="col">Sueldo</th>
							<th scope="col">Telefono</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody th:each="vendedor: ${vendedores}">
						<tr>
							
							<th scope="row" th:text="${vendedor.id}"></th>
							<td th:text="${vendedor.nombre}"></td>
							<td th:text="${vendedor.direccion}"></td>
							<td th:text="${vendedor.sueldo}"></td>
							<td th:text="${vendedor.telefono}"></td>
							<td>
							<a th:href="@{'/vendedor/edit/' + ${vendedor.id}}" class="btn btn-warning"><i class="fas fa-edit"></i></a> 
							<a th:href="@{'/vendedor/del/' + ${vendedor.id}}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a> 
							</td>
						</tr>
					</tbody>
				</table>

			</div>
			<div class="card-footer text-muted">
				<a th:href="@{/vendedor/register}" class="btn btn-primary"><i
					class="fas fa-file-alt"></i> Nuevo Vendedor</a>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
