<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1>Nuevo Habitacion</h1>

		<div class="card">
			<div class="card-header">Registro de nuevo Habitacion</div>
			<div class="card-body">

				<form th:action="@{/vendedor/saveHabitacion}" 
					th:object="${habitacion}" method="post">
					
					<div class="form-group">
						<label for="numeroDeCamas"># Numero de camas:</label> 
						<input type="text" class="form-control" 
							placeholder="Numero de camas"
							th:field="*{numeroCamas}">
					</div>
					<div class="form-group">
						<label for="Descripccion">Descripcion:</label> 
						<input type="text" class="form-control" 
							placeholder="descripcion"
							th:field="*{descripcion}">
					</div>					
					<div class="form-group">
						<label for="precio">Precio:</label> 
						<input type="text" class="form-control"
							placeholder="Precio"
							th:field ="*{precio}">
					</div>
					<div class="form-group">
						<label for="tipo">Tipo:</label> 
						<input type="text" class="form-control" 
							placeholder="Tipo"
							th:field="*{tipos}">
					</div>
					
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i> Grabar
					</button>
					<a th:href="@{/vendedor}" class="btn btn-danger"> 
						<i class="fas fa-undo"></i> Cancelar 
					</a>
				</form>

			</div>
		</div>


	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>