<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1>Nuevo Alquiler</h1>

		<div class="card">
			<div class="card-header">Registro de nuevo Alquiler</div>
			<div class="card-body">

				<form th:action="@{/vendedor/nuevoAlquiler}" 
					th:object="${alquiler}" method="post">
					<div class="form-group">
						<label for="nombre">Nombre:</label> 
						<input type="text" class="form-control" 
							placeholder="Nombre de paciente"
							th:field="*{nombre}">
					</div>
					<div class="form-group">
						<label for="fechaNacimiento">Fecha nacimiento:</label> 
						<input type="text" class="form-control" 
							placeholder="fecha de nacimiento"
							th:field="*{fechaNacimiento}">
					</div>					
					<div class="form-group">
						<label for="direccion">Dirección:</label> 
						<input type="text" class="form-control"
							placeholder="Dirección del Médico"
							th:field ="*{direccion}">
					</div>
					<div class="form-group">
						<label for="telefono">Telefono:</label> 
						<input type="text" class="form-control" 
							placeholder="Teléfono de Médico"
							th:field="*{telefono}">
					</div>
					
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i> Grabar
					</button>
					<a th:href="@{/medico}" class="btn btn-danger"> 
						<i class="fas fa-undo"></i> Cancelar 
					</a>
				</form>

			</div>
		</div>


	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>