<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1>Nuevo Vendedor</h1>

		<div class="card">
			<div class="card-header">Registro de nuevo vendedor</div>
			<div class="card-body">

				<form th:action="@{/vendedor/save}" th:object="${vendedor}" 
					method="post">
					<div class="form-group">
						<label for="id">#:</label> 
						<input type="text" class="form-control" 
							placeholder="id de vendedor"
							th:field="*{id}">
								</div>
					<div class="form-group">
						<label for="nombre">Nombre:</label> 
						<input type="text" class="form-control" 
							placeholder="Nombre de vendedor"
							th:field="*{nombre}">
					</div>
					<div class="form-group">
						<label for="Direccion">Direccion:</label> 
					<input type="text" class="form-control" 
							placeholder="Direccion de vendedor"
							th:field="*{direccion}">
						
					</div>
					
					<div class="form-group">
						<label for="telefono">Telefono:</label> 
						<input type="text" class="form-control" 
							placeholder="Teléfono de Vendedor"
							th:field="*{telefono}">
					</div>
					<div class="form-group">
						<label for="Observacion">Observacion:</label> 
						<input type="text" class="form-control" 
							placeholder="Observacion de Vendedor"
							th:field="*{observacion}">
					</div>
					<div class="form-group">
						<label for="Observacion">Sueldo:</label> 
						<input type="text" class="form-control" 
							placeholder="Sueldo de Vendedor"
							th:field="*{sueldo}">
					</div>
					
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i> Grabar
					</button>
					<a th:href="@{/vendedor}" class="btn btn-danger"> 
						<i class="fas fa-undo"></i> Cancelar 
					</a>
				</form>

			</div>
		</div>


	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>