<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>
<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<div class="card text-center">
		<h1>Lista de habitaciones</h1>		
			<div th:if="${dangerDel}" class="alert alert-danger" role="alert">
  					<span th:text="${dangerDel}"></span>
				</div>
		<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">numero de camas</th>
      <th scope="col">descripcion</th>
      <th scope="col">precio</th>
      <th scope="col">observacion</th>

    </tr>
  </thead>
  <tbody th:each="habitacion:${habitaciones}">
    <tr>
      <th scope="row" th:text="${habitacion.id}">1</th>
      <td th:text="${habitacion.descripcion}">Mark</td>
      <td th:text="${habitacion.precio}">Mark</td>
      <td th:text="${habitacion.observacion}">Mark</td>
      <td>
       <a th:href="@{ '/habitacion/info/' + ${habitacion.id} }" class="btn btn-info"> 
					<i class="fas fa-info"></i> 
					</a>
				  <a th:href="@{  '/habitacion/edit/' + ${habitacion.id} }" class="btn btn-warning"> 
					<i class="fas fa-edit"></i>  
					</a>
				  <a th:href="@{ '/habitacion/del/' + ${habitacion.id}}" class="btn btn-danger"> 
					<i class="fas fa-trash-alt"></i> 
					</a>
       </td>
			    </tr>			  
			  </tbody>
			</table>
			</div>
			<div class="card text-center">
			<div class="card-footer text-muted">
				<a th:href="@{/habitacion/nuevo}" class="btn btn-primary"><i class="fas fa-user-plus"></i> Nueva habitacion</a>
			</div>
			</div>
			<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>