<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1>NUEVO ALQUOLER</h1>

		<div class="card">
			<div class="card-header">REFGISTRO DE ALQUILERES</div>
			<div class="card-body">

				<form th:action="@{/habitacion/savealquiler}" 
					th:object="${alquiler}" method="post">
					<div class="form-group">
						<label for="precio">PRECIO </label> 
						<input type="text" class="form-control" 
							placeholder="precio"
							th:field="*{precio}">
					</div>
					<div class="form-group">
						<label for="fechaEntrada">FECHADE ENTRADA</label> 
						<input type="text" class="form-control" 
							placeholder="fecha de Entrada"
							th:field="*{fecha_entrada}">
					</div>					
					<div class="form-group">
						<label for="fechaSalida">FECHA DE SALIDA</label> 
						<input type="text" class="form-control"
							placeholder="fecha de Salida"
							th:field ="*{fecha_salida}">
					</div>
					<div class="form-group">
						<label for="estado">ESTADO </label> 
						<input type="text" class="form-control" 
							placeholder="estado"
							th:field="*{estado}">
					</div>
					<div class="form-groupx">
						<label for="observacion">OBSERVACION</label> 
						<input type="text" class="form-control" 
							placeholder="observacion"
							th:field="*{observacion}">
					</div>
					
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i> Grabar
					</button>
					<a th:href="@{/habitacion}" class="btn btn-danger"> 
						<i class="fas fa-undo"></i> Cancelar 
					</a>
				</form>

			</div>
		</div>


	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>