<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1>Información del Cliente</h1>

		<div class="card text-center">
			<div class="card-header">Información del Cliente</div>
			<div class="card-body">

				<div th:if="${dangerDel}" class="alert alert-danger" role="alert">
					<span th:text="${dangerDel}"></span>
				</div>


				<form>
					<div class="form-group row">
						<label for="documento" class="col-sm-2 col-form-label">Documento
							:</label>
						<div class="col-sm-10">
							<input type="text" readonly th:value="${cliente.documento}"
								class="form-control-plaintext">
						</div>
					</div>

					<div class="form-group row">
						<label for="nombre" class="col-sm-2 col-form-label">Nombre
							:</label>
						<div class="col-sm-10">
							<input type="text" readonly th:value="${cliente.nombre}"
								class="form-control-plaintext">
						</div>
					</div>
					<div class="form-group row">
						<label for="fechaNacimiento" class="col-sm-2 col-form-label">FechaNacimiento
							:</label>
						<div class="col-sm-10">
							<input type="text" readonly th:value="${cliente.fechaNacimiento}"
								class="form-control-plaintext">
						</div>
					</div>
					<div class="form-group row">
						<label for="lugarNacimiento" class="col-sm-2 col-form-label">LugarNacimiento
							:</label>
						<div class="col-sm-10">
							<input type="text" readonly th:value="${cliente.lugarNacimiento}"
								class="form-control-plaintext">
						</div>
					</div>
					<div class="form-group row">
						<label for="sexo" class="col-sm-2 col-form-label">Sexo :</label>
						<div class="col-sm-10">
							<input type="text" readonly th:value="${cliente.sexo}"
								class="form-control-plaintext">
						</div>
					</div>
					<div class="form-group row">
						<label for="observacion" class="col-sm-2 col-form-label">Observacion
							:</label>
						<div class="col-sm-10">
							<input type="text" readonly th:value="${cliente.observacion}"
								class="form-control-plaintext">
						</div>
					</div>

				</form>

				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Documento</th>
							<th scope="col">Nombre</th>
							<th scope="col">Fecha nac.</th>
							<th scope="col">Lugar nac.</th>
							<th scope="col">Sexo</th>
							<th scope="col">Observacion</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody th:each="alquiler: ${cliente.alquiler}">
						<tr>
							<th scope="row" th:text="${alquiler.id}">1</th>
							<td th:text="${alquiler.precio}">Mark</td>
							<td th:text="${alquiler.fechaEntrada}">Otto</td>
							<td th:text="${alquiler.fechaSalida}">Otto</td>
							<td th:text="${alquiler.estado}">@mdo</td>
							<td th:text="${alquiler.observacion}">@mdo</td>
							<td><a th:href="@{ '/cliente/info/' + ${alquiler.id} }"
								class="btn btn-info"> <i class="fas fa-info"></i>
							</a> <a th:href="@{ '/cliente/edit/' + ${alquiler.id} }"
								class="btn btn-warning"> <i class="fas fa-edit"></i>
							</a> <a th:href="@{ '/cliente/del/' + ${alquiler.id} }"
								class="btn btn-danger"> <i class="fas fa-trash-alt"></i>
							</a></td>
						</tr>
					</tbody>
				</table>

			</div>
			
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
