<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1>Información de Cliente</h1>

		<div class="card text-center">
			<div class="card-header">Información de Cliente</div>
			<div class="card-body">
				
				<div th:if="${dangerDel}" class="alert alert-danger" role="alert">
  					<span th:text="${dangerDel}"></span>
				</div>
			
			
				<form>
				  <div class="form-group row">
				    <label for="nombre" class="col-sm-2 col-form-label">Nombre de cliente :</label>
				    <div class="col-sm-10">
				      <input type="text" readonly th:value="${cliente.nombre}" class="form-control-plaintext" >
				    </div>
				  </div>				  
				  
				  
				  <div class="form-group row">
				    <label for="direccion" class="col-sm-2 col-form-label">Documento:</label>
				    <div class="col-sm-10">
				      <input type="text" readonly th:value="${cliente.documento}" class="form-control-plaintext" >
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="telefono" class="col-sm-2 col-form-label">Lugar de nacimiento :</label>
				    <div class="col-sm-10">
				      <input type="text" readonly th:value="${cliente.lugarNacimiento}" class="form-control-plaintext" >
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="telefono" class="col-sm-2 col-form-label">Sexo :</label>
				    <div class="col-sm-10">
				      <input type="text" readonly th:value="${cliente.sexo}" class="form-control-plaintext" >
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="telefono" class="col-sm-2 col-form-label">Observaciones :</label>
				    <div class="col-sm-10">
				      <input type="text" readonly th:value="${cliente.observacion}" class="form-control-plaintext" >
				    </div>
				  </div>
				  
					<a th:href="@{/cliente}" class="btn btn-danger"> 
						<i class="fas fa-undo"></i> Regresar
					</a>
				</form>
			
				

			</div>
			
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>





