<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1>Nuevo Cliente</h1>

		<div class="card">
			<div class="card-header">Registro de nuevo Cliente</div>
			<div class="card-body">

				<form th:action="@{/cliente/save}" th:object="${cliente}" 
					method="post">
					<div class="form-group">
						<label for="id">Id:</label> 
						<input type="text" class="form-control" 
							placeholder="Id de Cliente"
							th:field="*{id}">
					</div>
					<div class="form-group">
						<label for="documento">Documento:</label> 
						<input type="text" class="form-control" 
							placeholder="Documento de Cliente"
							th:field="*{documento}">
					</div>
					</div>
					<div class="form-group">
						<label for="nombre">Nombre:</label> 
						<input type="text" class="form-control" 
							placeholder="Nombre de Cliente"
							th:field="*{nombre}">
					</div>
					</div>
					<div class="form-group">
						<label for="fechaNacimiento">Fecha nacimiento:</label> 
						<input type="text" class="form-control" 
							placeholder="Fecha de Nacimiento del Cliente"
							th:field="*{fechaNacimiento}">
					</div>
					<div class="form-group">
						<label for="lugarNacimiento">Lugar nacimiento:</label> 
						<input type="text" class="form-control" 
							placeholder="Lugar de Nacimiento del Cliente"
							th:field="*{lugarNacimiento}">
					</div>
					<div class="form-group">
						<label for="sexo">Sexo:</label> 
						<input type="text" class="form-control" 
							placeholder="Sexo del Cliente"
							th:field="*{sexo}">
					</div>
					<div class="form-group">
						<label for="observacion">Observacion:</label> 
						<input type="text" class="form-control" 
							placeholder="Observacion del Cliente"
							th:field="*{observacion}">
					</div>
					<div class="form-group">
						<label for="especialidad">Especialidad:</label> 
						<select th:field="*{alquileres}" class="form-control">
					      <option th:each="alquileres : ${especialidades}"
					      	th:value="${alquileres.id}" th:text="${cliente.alquileres}"></option>
					    </select>
						
					</div>
					
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i> Grabar
					</button>
					<a th:href="@{/cliente}" class="btn btn-danger"> 
						<i class="fas fa-undo"></i> Cancelar 
					</a>
				</form>

			</div>
		</div>


	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>