<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">



		<div class="card">
			<div class="card-header"> Registrar habitacion</div>
			<div class="card-body">

				

				
				
				<form th:action="@{/cliente/savealquiler}" th:object="${alquiler}"
					method="post">
					<div class="form-group">
						<label for="precio">Precio:</label> <input type="text"
							class="form-control" placeholder="Precio" th:field="*{precio}">
					</div>
					<div class="form-group">
						<label for="fecha_entrada">Fecha entrada:</label> <input
							type="text" class="form-control" placeholder="fecha_entrada"
							th:field="*{Fecha_Entrada}">
					</div>
					<div class="form-group">
						<label for="fecha_salida">Fecha salida:</label> <input type="text"
							class="form-control" placeholder="fecha_salida"
							th:field="*{Fecha_Salida}">
					</div>
					<div class="form-group">
						<label for="estado">Estado:</label> <input type="text"
							class="form-control" placeholder="Estado" th:field="*{estado}">
					</div>
					<div class="form-group">
						<label for="observacion">Observacion:</label> <input type="text"
							class="form-control" placeholder="Observacion"
							th:field="*{observacion}">
					</div>
					<div class="form-group">
						<label for="cliente">Vendedor:</label> <select
							th:field="*{vendedor}" class="form-control">
							<option th:each="vendedor : ${vendedores}" th:value="${vendedor.id}"
								th:text="${vendedor.nombre}"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="habitacion">Habitacion:</label> <select
							th:field="*{habitacion}" class="form-control">
							<option th:each="habitacion : ${habitaciones}"
								th:value="${habitacion.id}" th:text="${habitacion.descripcion}"></option>
						</select>
					</div>
					
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i> Grabar
					</button>
					<a th:href="@{/vendedor}" class="btn btn-danger"> <i
						class="fas fa-undo"></i> Cancelar
					</a>
				</form>
				
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>