<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:fragmen="head">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="JW Marriott Hotel Lima Project">
	<meta name="author" content="Juan Flores-Moroco">
	
	<title>JW Marriott Hotel Lima</title>
	
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/chosen.min.css}">
	<link rel="stylesheet" th:href="@{/css/fontawesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/solid.min.css}">
</head>
<body>
	<div >
	</div>
</body>
</html>