<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1>Nuevo Alquiler</h1>

		<div class="card">
			<div class="card-header">Registro de nuevo Alquiler</div>
			<div class="card-body">

			<form th:action="@{/vendedor/savealquiler}"
				th:object="${alquiler}" method="post">
					<div class="form-group">
						<label for="precio">Precio:</label> 
						<input type="text" class="form-control" 
							placeholder="Precio de alquiler"
							th:field="*{precio}">
					</div>
					<div class="form-group">
						<label for="fechaEntrada">Fecha de Entrada:</label> 
						<input type="text" class="form-control" 
							placeholder="Fecha de Entrada"
							th:field="*{fechaEntrada}">
					</div>					
					<div class="form-group">
						<label for="fechaSalida">Fecha de Salida:</label> 
						<input type="text" class="form-control"
							placeholder="Fecha de Salida"
							th:field ="*{fechaSalida}">
					</div>
					<div class="form-group">
						<label for="estado">Estado:</label> 
						<input type="text" class="form-control" 
							placeholder="Estado de Alquiler"
							th:field="*{estado}">
					</div>
					<div class="form-group">
						<label for="observacion">Observacion:</label> 
						<input type="text" class="form-control" 
							placeholder="Observacion de Alquiler"
							th:field="*{observacion}">
					</div>
					<div class="form-group">
						<label for="cliente">Cliente:</label> 
						<input type="text" class="form-control" 
							placeholder="Cliente de alquiler"
							th:field="*{cliente}">
					</div>
					<div class="form-group">
						<label for="vendedor">Vendedor:</label> 
						<input type="text" class="form-control" 
							placeholder="Vendedor de alquiler"
							th:field="*{vendedor}">
					</div>
					<div class="form-group">
						<label for="habitacion">Habitacion:</label> 
						<input type="text" class="form-control" 
							placeholder="Habitacion de Alquiler"
							th:field="*{habitacion}">
					</div>
					
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i> Grabar
					</button>
					<a th:href="@{/vendedor}" class="btn btn-danger"> 
						<i class="fas fa-undo"></i> Cancelar 
					</a>
				</form>

			</div>
		</div>


	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>